python.exe : mysqldump: [Warning] Using a password on the command line interface can be insecure.
At D:\apps\google-cloud-sdk\bin\gcloud.ps1:114 char:3
+   & "$cloudsdk_python" $run_args_array
+   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysqldump: [War...an be insecure.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
mysqldump: Error: 'Access denied; you need (at least one of) the PROCESS privilege(s) for this operation' when trying 
to dump tablespaces
-- MySQL dump 10.13  Distrib 8.4.10, for Linux (x86_64)
--
-- Host: localhost    Database: sms_monolith_db
-- ------------------------------------------------------
-- Server version	8.4.10

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `academic_classes`
--

DROP TABLE IF EXISTS `academic_classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `academic_classes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `class_code` varchar(20) NOT NULL,
  `class_name` varchar(120) NOT NULL,
  `department_id` bigint NOT NULL,
  `description` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKrq3vbikpmsa97o7v65mlbwc08` (`department_id`,`class_code`),
  UNIQUE KEY `UKlajgglmn2pic3irc0fw09e7gv` (`department_id`,`class_name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_classes`
--

LOCK TABLES `academic_classes` WRITE;
/*!40000 ALTER TABLE `academic_classes` DISABLE KEYS */;
INSERT INTO `academic_classes` VALUES (1,'CS-Y1','B.Tech 1st Year',1,'First year Computer Science'),(2,'ECE-Y1','B.Tech 1st Year',2,'First year Electronics');
/*!40000 ALTER TABLE `academic_classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admins` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(255) DEFAULT NULL,
  `admin_id` varchar(255) DEFAULT NULL,
  `department` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `status` enum('PENDING_REGISTRATION','ACTIVE','INACTIVE') DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_47bvqemyk6vlm0w7crc3opdd4` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (13,'8+IQ9O6+sezxl9bbFcPb60vdMVYpsHK68sBbdJ09KLtn+ldDSAWh','ADM001','Administration','sidharthsangamam@gmail.com','System Admin','b31UaFsf1DuEnG6ePXCpIVg93pecoNPWWcSm6+K3hyDiQHZxSIw=','ACTIVE');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `department_code` varchar(20) NOT NULL,
  `department_name` varchar(120) NOT NULL,
  `description` varchar(500) DEFAULT NULL,
  `status` enum('ACTIVE','INACTIVE') NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK89g8qie2y696a3tarmty43sq9` (`department_code`),
  UNIQUE KEY `UKqyf2ekbfpnddm6f3rkgt39i9o` (`department_name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
INSERT INTO `departments` VALUES (1,'CS','Computer Science','Computer Science and Engineering','ACTIVE'),(2,'ECE','Electronics','Electronics and Communication Engineering','ACTIVE');
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `message` varchar(2000) DEFAULT NULL,
  `target_role` varchar(255) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` VALUES (1,'2026-06-28 09:57:53.308558','Welcome to the Student Management System. Check your assigned subjects and complete registration.','STUDENT','Welcome to SMS');
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registration_invitations`
--

DROP TABLE IF EXISTS `registration_invitations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `registration_invitations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(255) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `expires_at` datetime(6) NOT NULL,
  `profile_id` bigint DEFAULT NULL,
  `role` enum('ADMIN','TEACHER','STUDENT') NOT NULL,
  `used` bit(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_dn2403mu32elnrbxwqppt0kyn` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registration_invitations`
--

LOCK TABLES `registration_invitations` WRITE;
/*!40000 ALTER TABLE `registration_invitations` DISABLE KEYS */;
INSERT INTO `registration_invitations` VALUES (13,'014970','2026-06-28 10:19:33.033706','sidharthsangamam@gmail.com','2026-07-05 10:19:33.032527',13,'ADMIN',_binary ''),(14,'431379','2026-06-28 10:36:58.319558','sidharthsidh04931@gmail.com','2026-07-05 10:36:58.319502',1,'STUDENT',_binary ''),(15,'715241','2026-06-28 10:40:38.265179','2022mt70007@wilp.bits-pilani.ac.in','2026-07-05 10:40:38.265118',1,'TEACHER',_binary '');
/*!40000 ALTER TABLE `registration_invitations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_subject_ids`
--

DROP TABLE IF EXISTS `student_subject_ids`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_subject_ids` (
  `student_id` bigint NOT NULL,
  `subject_id` bigint DEFAULT NULL,
  KEY `FKaddtasud69puutn0vx97a14jj` (`student_id`),
  CONSTRAINT `FKaddtasud69puutn0vx97a14jj` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_subject_ids`
--

LOCK TABLES `student_subject_ids` WRITE;
/*!40000 ALTER TABLE `student_subject_ids` DISABLE KEYS */;
INSERT INTO `student_subject_ids` VALUES (1,4),(1,5);
/*!40000 ALTER TABLE `student_subject_ids` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_subject_names`
--

DROP TABLE IF EXISTS `student_subject_names`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_subject_names` (
  `student_id` bigint NOT NULL,
  `subject_name` varchar(255) DEFAULT NULL,
  KEY `FK243mm7ns2ll2xdavrr2dhcna7` (`student_id`),
  CONSTRAINT `FK243mm7ns2ll2xdavrr2dhcna7` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_subject_names`
--

LOCK TABLES `student_subject_names` WRITE;
/*!40000 ALTER TABLE `student_subject_names` DISABLE KEYS */;
INSERT INTO `student_subject_names` VALUES (1,'Circuit Theory'),(1,'Digital Electronics');
/*!40000 ALTER TABLE `student_subject_names` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(255) DEFAULT NULL,
  `class_id` bigint DEFAULT NULL,
  `class_name` varchar(255) DEFAULT NULL,
  `department_id` bigint DEFAULT NULL,
  `department_name` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `roll_number` varchar(255) DEFAULT NULL,
  `status` enum('PENDING_REGISTRATION','ACTIVE','INACTIVE') DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_e2rndfrsx22acpq2ty1caeuyw` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
INSERT INTO `students` VALUES (1,'Z/eOBMiRUrKtklFdeQciYiQ6qvKPeQRG+oW/SnB7cmUukxHBVv7tDLKGx4xaH6o6m4a9q6vTx0sS0fyV73vUxyQ=',2,'B.Tech 1st Year',2,'Electronics','sidharthsidh04931@gmail.com','sidharth Sangamam','JIXEu8TtsWTv/AmekBaIuvIqpNR7MiC2otumi3+1x7TmikBVJDk=','2022mt799996','ACTIVE');
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjects`
--

DROP TABLE IF EXISTS `subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subjects` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `class_id` bigint NOT NULL,
  `credits` int DEFAULT NULL,
  `description` varchar(500) DEFAULT NULL,
  `subject_code` varchar(20) NOT NULL,
  `subject_name` varchar(120) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK51cjqlejmur24ag2h84wp2kn1` (`class_id`,`subject_code`),
  UNIQUE KEY `UKd3rmk17d3cqexghv8kydegpw6` (`class_id`,`subject_name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjects`
--

LOCK TABLES `subjects` WRITE;
/*!40000 ALTER TABLE `subjects` DISABLE KEYS */;
INSERT INTO `subjects` VALUES (1,1,4,'Introductory programming course','CS-PF','Programming Fundamentals'),(2,1,3,NULL,'CS-DB','Database Management Systems'),(3,1,3,NULL,'CS-OS','Operating Systems'),(4,2,3,NULL,'ECE-CT','Circuit Theory'),(5,2,3,NULL,'ECE-DE','Digital Electronics');
/*!40000 ALTER TABLE `subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teacher_subject_ids`
--

DROP TABLE IF EXISTS `teacher_subject_ids`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teacher_subject_ids` (
  `teacher_id` bigint NOT NULL,
  `subject_id` bigint DEFAULT NULL,
  KEY `FKi8amq09dofbwdk9ot2kfa8pmx` (`teacher_id`),
  CONSTRAINT `FKi8amq09dofbwdk9ot2kfa8pmx` FOREIGN KEY (`teacher_id`) REFERENCES `teachers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teacher_subject_ids`
--

LOCK TABLES `teacher_subject_ids` WRITE;
/*!40000 ALTER TABLE `teacher_subject_ids` DISABLE KEYS */;
INSERT INTO `teacher_subject_ids` VALUES (1,4),(1,5);
/*!40000 ALTER TABLE `teacher_subject_ids` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teacher_subject_names`
--

DROP TABLE IF EXISTS `teacher_subject_names`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teacher_subject_names` (
  `teacher_id` bigint NOT NULL,
  `subject_name` varchar(255) DEFAULT NULL,
  KEY `FKilxidf68hlhpkpmxuse67ndu5` (`teacher_id`),
  CONSTRAINT `FKilxidf68hlhpkpmxuse67ndu5` FOREIGN KEY (`teacher_id`) REFERENCES `teachers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teacher_subject_names`
--

LOCK TABLES `teacher_subject_names` WRITE;
/*!40000 ALTER TABLE `teacher_subject_names` DISABLE KEYS */;
INSERT INTO `teacher_subject_names` VALUES (1,'Circuit Theory'),(1,'Digital Electronics');
/*!40000 ALTER TABLE `teacher_subject_names` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teachers`
--

DROP TABLE IF EXISTS `teachers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teachers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(255) DEFAULT NULL,
  `class_id` bigint DEFAULT NULL,
  `class_name` varchar(255) DEFAULT NULL,
  `department_id` bigint DEFAULT NULL,
  `department_name` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `status` enum('PENDING_REGISTRATION','ACTIVE','INACTIVE') DEFAULT NULL,
  `teacher_id` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_4l9jjfvsct1dd5aufnurxcvbs` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teachers`
--

LOCK TABLES `teachers` WRITE;
/*!40000 ALTER TABLE `teachers` DISABLE KEYS */;
INSERT INTO `teachers` VALUES (1,'c7RXKogGPmZ1dINdKWoiTADAS6lomRautnp0QYwi+83vIswhBJ5QoLKExC4SGiRr84tkd0qj8MqG5G2k264kYwM=',2,'B.Tech 1st Year',2,'Electronics','2022mt70007@wilp.bits-pilani.ac.in','sid','Q7oZOyTu4jgIggviEEUx7/e76j0CN1odJIGHD8CQExp9T6+9j48=','ACTIVE','EC001');
/*!40000 ALTER TABLE `teachers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `account_locked_until` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `enabled` bit(1) NOT NULL,
  `failed_login_attempts` int NOT NULL DEFAULT '0',
  `password` varchar(255) DEFAULT NULL,
  `profile_id` bigint DEFAULT NULL,
  `role` enum('ADMIN','TEACHER','STUDENT') NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_6dotkott2kjsp8vw4d0m25fb7` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,NULL,'2026-06-28 10:35:41.453995','sidharthsangamam@gmail.com',_binary '',0,'$2a$10$kqEiwCs/C8o2z9q0GJQqUuHcLqntI/16MpGgGPH0IxGcMAw0C85de',13,'ADMIN'),(2,NULL,'2026-06-28 10:38:14.846859','sidharthsidh04931@gmail.com',_binary '',0,'$2a$10$59YW.m0FOJsem/cPdXbqyuxKhJ3rgp2plx0ZNfFtdDyK64tzHL4N6',1,'STUDENT'),(3,NULL,'2026-06-28 10:41:48.227195','2022mt70007@wilp.bits-pilani.ac.in',_binary '',0,'$2a$10$t6ArrmG7pCRisf6Wc2Kt8e7GeMVzEozMiPUli9iFKPvS7eUlYu7w6',1,'TEACHER');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-28 15:58:17
