--
-- PostgreSQL database cluster dump
--

\restrict aB0y1nI5Cc8ecSWL1IYUfN89fHW3cKcj2Z7V9c7DTxa9DexoLlWP36GaMlYf09z

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE sms_user;
ALTER ROLE sms_user WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:yr+MQTr6DtUmhZ49tNdesQ==$iSAy/8sqNwMzo++hNk0SHHyqpXrUK0enaJaRvTTRHbE=:cDiZgOAv71f+EWCWwGyHf7bNKSqWtxD0krVQ1XjUaN0=';

--
-- User Configurations
--








\unrestrict aB0y1nI5Cc8ecSWL1IYUfN89fHW3cKcj2Z7V9c7DTxa9DexoLlWP36GaMlYf09z

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict Ktvy2c4WOksg2IqGMYAaq17KW943YxfG9vrq3jaNTsjj96djrgxglcF5mybbQUL

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict Ktvy2c4WOksg2IqGMYAaq17KW943YxfG9vrq3jaNTsjj96djrgxglcF5mybbQUL

--
-- Database "admin_db" dump
--

--
-- PostgreSQL database dump
--

\restrict fJihj9QAsrcJvHshyCkRIKZbCf9ZfEqLmpWfcv0EbBwoSfkYtM6uT08MRtTHH8a

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: admin_db; Type: DATABASE; Schema: -; Owner: sms_user
--

CREATE DATABASE admin_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE admin_db OWNER TO sms_user;

\unrestrict fJihj9QAsrcJvHshyCkRIKZbCf9ZfEqLmpWfcv0EbBwoSfkYtM6uT08MRtTHH8a
\connect admin_db
\restrict fJihj9QAsrcJvHshyCkRIKZbCf9ZfEqLmpWfcv0EbBwoSfkYtM6uT08MRtTHH8a

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.admins (
    id bigint NOT NULL,
    address character varying(255),
    admin_id character varying(255),
    department character varying(255),
    email character varying(255) NOT NULL,
    name character varying(255),
    phone character varying(255),
    status character varying(255),
    CONSTRAINT admins_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING_REGISTRATION'::character varying, 'ACTIVE'::character varying, 'INACTIVE'::character varying])::text[])))
);


ALTER TABLE public.admins OWNER TO sms_user;

--
-- Name: admins_id_seq; Type: SEQUENCE; Schema: public; Owner: sms_user
--

CREATE SEQUENCE public.admins_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admins_id_seq OWNER TO sms_user;

--
-- Name: admins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sms_user
--

ALTER SEQUENCE public.admins_id_seq OWNED BY public.admins.id;


--
-- Name: admins id; Type: DEFAULT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.admins ALTER COLUMN id SET DEFAULT nextval('public.admins_id_seq'::regclass);


--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: sms_user
--

COPY public.admins (id, address, admin_id, department, email, name, phone, status) FROM stdin;
6	Nci3NKWbaHurrsU5+lBnqJYtSFUDveESwX4pyUXAD/EWj3RXssf4	ADM001	Administration	2022mt70007@wilp.bits-pilani.ac.in	System Admin	QzlevWpt1oDEYVFdkipUu3PEx2DaCT8RnYUqfpbSWion1Ldg8/s=	PENDING_REGISTRATION
\.


--
-- Name: admins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sms_user
--

SELECT pg_catalog.setval('public.admins_id_seq', 6, true);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (id);


--
-- Name: admins uk_47bvqemyk6vlm0w7crc3opdd4; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT uk_47bvqemyk6vlm0w7crc3opdd4 UNIQUE (email);


--
-- PostgreSQL database dump complete
--

\unrestrict fJihj9QAsrcJvHshyCkRIKZbCf9ZfEqLmpWfcv0EbBwoSfkYtM6uT08MRtTHH8a

--
-- Database "auth_db" dump
--

--
-- PostgreSQL database dump
--

\restrict kTBVxgaP72yidpi0SXAsrDCAyNru1K9kajjB26hF4ZSrGU2x0b8AahBAXxra0hk

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: auth_db; Type: DATABASE; Schema: -; Owner: sms_user
--

CREATE DATABASE auth_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE auth_db OWNER TO sms_user;

\unrestrict kTBVxgaP72yidpi0SXAsrDCAyNru1K9kajjB26hF4ZSrGU2x0b8AahBAXxra0hk
\connect auth_db
\restrict kTBVxgaP72yidpi0SXAsrDCAyNru1K9kajjB26hF4ZSrGU2x0b8AahBAXxra0hk

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: registration_invitations; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.registration_invitations (
    id bigint NOT NULL,
    code character varying(255) NOT NULL,
    created_at timestamp(6) without time zone,
    email character varying(255) NOT NULL,
    expires_at timestamp(6) without time zone NOT NULL,
    profile_id bigint,
    role character varying(255) NOT NULL,
    used boolean NOT NULL,
    CONSTRAINT registration_invitations_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'TEACHER'::character varying, 'STUDENT'::character varying])::text[])))
);


ALTER TABLE public.registration_invitations OWNER TO sms_user;

--
-- Name: registration_invitations_id_seq; Type: SEQUENCE; Schema: public; Owner: sms_user
--

CREATE SEQUENCE public.registration_invitations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.registration_invitations_id_seq OWNER TO sms_user;

--
-- Name: registration_invitations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sms_user
--

ALTER SEQUENCE public.registration_invitations_id_seq OWNED BY public.registration_invitations.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    account_locked_until timestamp(6) without time zone,
    created_at timestamp(6) without time zone,
    email character varying(255) NOT NULL,
    enabled boolean NOT NULL,
    failed_login_attempts integer DEFAULT 0 NOT NULL,
    password character varying(255),
    profile_id bigint,
    role character varying(255) NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'TEACHER'::character varying, 'STUDENT'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO sms_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: sms_user
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO sms_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sms_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: registration_invitations id; Type: DEFAULT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.registration_invitations ALTER COLUMN id SET DEFAULT nextval('public.registration_invitations_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: registration_invitations; Type: TABLE DATA; Schema: public; Owner: sms_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sms_user
--



--
-- Name: registration_invitations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sms_user
--

SELECT pg_catalog.setval('public.registration_invitations_id_seq', 5, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sms_user
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: registration_invitations registration_invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.registration_invitations
    ADD CONSTRAINT registration_invitations_pkey PRIMARY KEY (id);


--
-- Name: users uk_6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk_6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: registration_invitations uk_dn2403mu32elnrbxwqppt0kyn; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.registration_invitations
    ADD CONSTRAINT uk_dn2403mu32elnrbxwqppt0kyn UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict kTBVxgaP72yidpi0SXAsrDCAyNru1K9kajjB26hF4ZSrGU2x0b8AahBAXxra0hk

--
-- Database "course_db" dump
--

--
-- PostgreSQL database dump
--

\restrict lsSSdrwZ58gE4aRGld3Yqs1QN0gvWxg3FIL0UAYOBGkJcEIFwkisUeeB1pJuxcB

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: course_db; Type: DATABASE; Schema: -; Owner: sms_user
--

CREATE DATABASE course_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE course_db OWNER TO sms_user;

\unrestrict lsSSdrwZ58gE4aRGld3Yqs1QN0gvWxg3FIL0UAYOBGkJcEIFwkisUeeB1pJuxcB
\connect course_db
\restrict lsSSdrwZ58gE4aRGld3Yqs1QN0gvWxg3FIL0UAYOBGkJcEIFwkisUeeB1pJuxcB

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: academic_classes; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.academic_classes (
    id bigint NOT NULL,
    class_code character varying(20) NOT NULL,
    class_name character varying(120) NOT NULL,
    department_id bigint NOT NULL,
    description character varying(500)
);


ALTER TABLE public.academic_classes OWNER TO sms_user;

--
-- Name: academic_classes_id_seq; Type: SEQUENCE; Schema: public; Owner: sms_user
--

CREATE SEQUENCE public.academic_classes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.academic_classes_id_seq OWNER TO sms_user;

--
-- Name: academic_classes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sms_user
--

ALTER SEQUENCE public.academic_classes_id_seq OWNED BY public.academic_classes.id;


--
-- Name: courses; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.courses (
    id bigint NOT NULL,
    credits integer,
    department character varying(255),
    description character varying(255),
    instructor character varying(255),
    title character varying(255)
);


ALTER TABLE public.courses OWNER TO sms_user;

--
-- Name: courses_id_seq; Type: SEQUENCE; Schema: public; Owner: sms_user
--

CREATE SEQUENCE public.courses_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.courses_id_seq OWNER TO sms_user;

--
-- Name: courses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sms_user
--

ALTER SEQUENCE public.courses_id_seq OWNED BY public.courses.id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.departments (
    id bigint NOT NULL,
    department_code character varying(20) NOT NULL,
    department_name character varying(120) NOT NULL,
    description character varying(500),
    status character varying(255) NOT NULL,
    CONSTRAINT departments_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'INACTIVE'::character varying])::text[])))
);


ALTER TABLE public.departments OWNER TO sms_user;

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: sms_user
--

CREATE SEQUENCE public.departments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departments_id_seq OWNER TO sms_user;

--
-- Name: departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sms_user
--

ALTER SEQUENCE public.departments_id_seq OWNED BY public.departments.id;


--
-- Name: subjects; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.subjects (
    id bigint NOT NULL,
    class_id bigint NOT NULL,
    credits integer,
    description character varying(500),
    subject_code character varying(20) NOT NULL,
    subject_name character varying(120) NOT NULL
);


ALTER TABLE public.subjects OWNER TO sms_user;

--
-- Name: subjects_id_seq; Type: SEQUENCE; Schema: public; Owner: sms_user
--

CREATE SEQUENCE public.subjects_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subjects_id_seq OWNER TO sms_user;

--
-- Name: subjects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sms_user
--

ALTER SEQUENCE public.subjects_id_seq OWNED BY public.subjects.id;


--
-- Name: academic_classes id; Type: DEFAULT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.academic_classes ALTER COLUMN id SET DEFAULT nextval('public.academic_classes_id_seq'::regclass);


--
-- Name: courses id; Type: DEFAULT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.courses ALTER COLUMN id SET DEFAULT nextval('public.courses_id_seq'::regclass);


--
-- Name: departments id; Type: DEFAULT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.departments ALTER COLUMN id SET DEFAULT nextval('public.departments_id_seq'::regclass);


--
-- Name: subjects id; Type: DEFAULT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.subjects ALTER COLUMN id SET DEFAULT nextval('public.subjects_id_seq'::regclass);


--
-- Data for Name: academic_classes; Type: TABLE DATA; Schema: public; Owner: sms_user
--

COPY public.academic_classes (id, class_code, class_name, department_id, description) FROM stdin;
1	CS-Y1	B.Tech 1st Year	1	First year Computer Science
2	ECE-Y1	B.Tech 1st Year	2	First year Electronics
3	FIRST YEAR	Physics	3	\N
4	CHE1	CHEMISTRY1	4	First year chemistry
\.


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: sms_user
--

COPY public.courses (id, credits, department, description, instructor, title) FROM stdin;
1	4	Computer Science	Fundamentals of programming and algorithms	Dr. Smith	Introduction to Computer Science
2	3	Computer Science	Arrays, trees, graphs, and complexity analysis	Dr. Johnson	Data Structures
3	3	Physics	Introduction to Quantum Mechanics	Rahul	Introduction to Quantum Mechanics
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: sms_user
--

COPY public.departments (id, department_code, department_name, description, status) FROM stdin;
1	CS	Computer Science	Computer Science and Engineering	ACTIVE
2	ECE	Electronics	Electronics and Communication Engineering	ACTIVE
3	PH1	DEPARTMENT OF PHYSICS	First year physics	ACTIVE
4	CHEMISTRY	CHEMISTRY	Department of Chemistry	ACTIVE
\.


--
-- Data for Name: subjects; Type: TABLE DATA; Schema: public; Owner: sms_user
--

COPY public.subjects (id, class_id, credits, description, subject_code, subject_name) FROM stdin;
1	1	4	Introductory programming course	CS-PF	Programming Fundamentals
2	1	3	\N	CS-DB	Database Management Systems
3	1	3	\N	CS-OS	Operating Systems
4	2	3	\N	ECE-CT	Circuit Theory
5	2	3	\N	ECE-DE	Digital Electronics
6	4	3	\N	CHOR1	Organic Chemistry
7	3	3	\N	PHY	physics
\.


--
-- Name: academic_classes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sms_user
--

SELECT pg_catalog.setval('public.academic_classes_id_seq', 4, true);


--
-- Name: courses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sms_user
--

SELECT pg_catalog.setval('public.courses_id_seq', 3, true);


--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sms_user
--

SELECT pg_catalog.setval('public.departments_id_seq', 4, true);


--
-- Name: subjects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sms_user
--

SELECT pg_catalog.setval('public.subjects_id_seq', 7, true);


--
-- Name: academic_classes academic_classes_pkey; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.academic_classes
    ADD CONSTRAINT academic_classes_pkey PRIMARY KEY (id);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (id);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: subjects subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_pkey PRIMARY KEY (id);


--
-- Name: subjects uk51cjqlejmur24ag2h84wp2kn1; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT uk51cjqlejmur24ag2h84wp2kn1 UNIQUE (class_id, subject_code);


--
-- Name: departments uk89g8qie2y696a3tarmty43sq9; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT uk89g8qie2y696a3tarmty43sq9 UNIQUE (department_code);


--
-- Name: subjects ukd3rmk17d3cqexghv8kydegpw6; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT ukd3rmk17d3cqexghv8kydegpw6 UNIQUE (class_id, subject_name);


--
-- Name: academic_classes uklajgglmn2pic3irc0fw09e7gv; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.academic_classes
    ADD CONSTRAINT uklajgglmn2pic3irc0fw09e7gv UNIQUE (department_id, class_name);


--
-- Name: departments ukqyf2ekbfpnddm6f3rkgt39i9o; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT ukqyf2ekbfpnddm6f3rkgt39i9o UNIQUE (department_name);


--
-- Name: academic_classes ukrq3vbikpmsa97o7v65mlbwc08; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.academic_classes
    ADD CONSTRAINT ukrq3vbikpmsa97o7v65mlbwc08 UNIQUE (department_id, class_code);


--
-- PostgreSQL database dump complete
--

\unrestrict lsSSdrwZ58gE4aRGld3Yqs1QN0gvWxg3FIL0UAYOBGkJcEIFwkisUeeB1pJuxcB

--
-- Database "notification_db" dump
--

--
-- PostgreSQL database dump
--

\restrict 9eowTxKyRdtWnx5zYakdATJVrM7BOg06kJvNTDaQOqVMQVf1AQWjtJLTidthU2a

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: notification_db; Type: DATABASE; Schema: -; Owner: sms_user
--

CREATE DATABASE notification_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE notification_db OWNER TO sms_user;

\unrestrict 9eowTxKyRdtWnx5zYakdATJVrM7BOg06kJvNTDaQOqVMQVf1AQWjtJLTidthU2a
\connect notification_db
\restrict 9eowTxKyRdtWnx5zYakdATJVrM7BOg06kJvNTDaQOqVMQVf1AQWjtJLTidthU2a

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.notifications (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    message character varying(2000),
    target_role character varying(255),
    title character varying(255)
);


ALTER TABLE public.notifications OWNER TO sms_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: sms_user
--

CREATE SEQUENCE public.notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO sms_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sms_user
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: sms_user
--



--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sms_user
--

SELECT pg_catalog.setval('public.notifications_id_seq', 2, true);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict 9eowTxKyRdtWnx5zYakdATJVrM7BOg06kJvNTDaQOqVMQVf1AQWjtJLTidthU2a

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict V6IQOu0hCKyXwE5FsGtg1HSzrh0OVXb2fexDOI3CRF2HrtGu2DVOHNoQTPuZu5e

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict V6IQOu0hCKyXwE5FsGtg1HSzrh0OVXb2fexDOI3CRF2HrtGu2DVOHNoQTPuZu5e

--
-- Database "sms_user" dump
--

--
-- PostgreSQL database dump
--

\restrict xCVLEaj0jGu3xupgxvV74Alw7eAesFq3mW7l5Ta90AaVC8EWm8onzjdL6TdFmH2

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: sms_user; Type: DATABASE; Schema: -; Owner: sms_user
--

CREATE DATABASE sms_user WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE sms_user OWNER TO sms_user;

\unrestrict xCVLEaj0jGu3xupgxvV74Alw7eAesFq3mW7l5Ta90AaVC8EWm8onzjdL6TdFmH2
\connect sms_user
\restrict xCVLEaj0jGu3xupgxvV74Alw7eAesFq3mW7l5Ta90AaVC8EWm8onzjdL6TdFmH2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict xCVLEaj0jGu3xupgxvV74Alw7eAesFq3mW7l5Ta90AaVC8EWm8onzjdL6TdFmH2

--
-- Database "student_db" dump
--

--
-- PostgreSQL database dump
--

\restrict g1OYwVmcDRfScPMaczCxuNeNnjrsoaNwpVn7EUePEZixouD1mg0HVub9dQleIg8

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: student_db; Type: DATABASE; Schema: -; Owner: sms_user
--

CREATE DATABASE student_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE student_db OWNER TO sms_user;

\unrestrict g1OYwVmcDRfScPMaczCxuNeNnjrsoaNwpVn7EUePEZixouD1mg0HVub9dQleIg8
\connect student_db
\restrict g1OYwVmcDRfScPMaczCxuNeNnjrsoaNwpVn7EUePEZixouD1mg0HVub9dQleIg8

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assignments; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.assignments (
    id bigint NOT NULL,
    course_id bigint,
    description character varying(1000),
    due_date date,
    title character varying(255)
);


ALTER TABLE public.assignments OWNER TO sms_user;

--
-- Name: assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: sms_user
--

CREATE SEQUENCE public.assignments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assignments_id_seq OWNER TO sms_user;

--
-- Name: assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sms_user
--

ALTER SEQUENCE public.assignments_id_seq OWNED BY public.assignments.id;


--
-- Name: exams; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.exams (
    id bigint NOT NULL,
    course_id bigint,
    description character varying(1000),
    scheduled_date date,
    title character varying(255)
);


ALTER TABLE public.exams OWNER TO sms_user;

--
-- Name: exams_id_seq; Type: SEQUENCE; Schema: public; Owner: sms_user
--

CREATE SEQUENCE public.exams_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.exams_id_seq OWNER TO sms_user;

--
-- Name: exams_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sms_user
--

ALTER SEQUENCE public.exams_id_seq OWNED BY public.exams.id;


--
-- Name: student_progress; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.student_progress (
    id bigint NOT NULL,
    course_id bigint,
    course_title character varying(255),
    progress_percent integer,
    student_id bigint
);


ALTER TABLE public.student_progress OWNER TO sms_user;

--
-- Name: student_progress_id_seq; Type: SEQUENCE; Schema: public; Owner: sms_user
--

CREATE SEQUENCE public.student_progress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.student_progress_id_seq OWNER TO sms_user;

--
-- Name: student_progress_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sms_user
--

ALTER SEQUENCE public.student_progress_id_seq OWNED BY public.student_progress.id;


--
-- Name: student_subject_ids; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.student_subject_ids (
    student_id bigint NOT NULL,
    subject_id bigint
);


ALTER TABLE public.student_subject_ids OWNER TO sms_user;

--
-- Name: student_subject_names; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.student_subject_names (
    student_id bigint NOT NULL,
    subject_name character varying(255)
);


ALTER TABLE public.student_subject_names OWNER TO sms_user;

--
-- Name: student_subjects; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.student_subjects (
    student_id bigint NOT NULL,
    subject character varying(255)
);


ALTER TABLE public.student_subjects OWNER TO sms_user;

--
-- Name: students; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.students (
    id bigint NOT NULL,
    address character varying(255),
    class_name character varying(255),
    department character varying(255),
    email character varying(255) NOT NULL,
    name character varying(255),
    phone character varying(255),
    roll_number character varying(255),
    status character varying(255),
    class_id bigint,
    department_id bigint,
    department_name character varying(255),
    CONSTRAINT students_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING_REGISTRATION'::character varying, 'ACTIVE'::character varying, 'INACTIVE'::character varying])::text[])))
);


ALTER TABLE public.students OWNER TO sms_user;

--
-- Name: students_id_seq; Type: SEQUENCE; Schema: public; Owner: sms_user
--

CREATE SEQUENCE public.students_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.students_id_seq OWNER TO sms_user;

--
-- Name: students_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sms_user
--

ALTER SEQUENCE public.students_id_seq OWNED BY public.students.id;


--
-- Name: assignments id; Type: DEFAULT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.assignments ALTER COLUMN id SET DEFAULT nextval('public.assignments_id_seq'::regclass);


--
-- Name: exams id; Type: DEFAULT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.exams ALTER COLUMN id SET DEFAULT nextval('public.exams_id_seq'::regclass);


--
-- Name: student_progress id; Type: DEFAULT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.student_progress ALTER COLUMN id SET DEFAULT nextval('public.student_progress_id_seq'::regclass);


--
-- Name: students id; Type: DEFAULT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.students ALTER COLUMN id SET DEFAULT nextval('public.students_id_seq'::regclass);


--
-- Data for Name: assignments; Type: TABLE DATA; Schema: public; Owner: sms_user
--



--
-- Data for Name: exams; Type: TABLE DATA; Schema: public; Owner: sms_user
--



--
-- Data for Name: student_progress; Type: TABLE DATA; Schema: public; Owner: sms_user
--

COPY public.student_progress (id, course_id, course_title, progress_percent, student_id) FROM stdin;
1	1	Introduction to Computer Science	0	1
2	2	Data Structures	0	1
3	3	Introduction to Quantum Mechanics	0	1
\.


--
-- Data for Name: student_subject_ids; Type: TABLE DATA; Schema: public; Owner: sms_user
--

COPY public.student_subject_ids (student_id, subject_id) FROM stdin;
1	7
2	6
3	6
\.


--
-- Data for Name: student_subject_names; Type: TABLE DATA; Schema: public; Owner: sms_user
--

COPY public.student_subject_names (student_id, subject_name) FROM stdin;
1	physics
2	Organic Chemistry
3	Organic Chemistry
\.


--
-- Data for Name: student_subjects; Type: TABLE DATA; Schema: public; Owner: sms_user
--

COPY public.student_subjects (student_id, subject) FROM stdin;
1	Chemistry
1	maths
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: sms_user
--



--
-- Name: assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sms_user
--

SELECT pg_catalog.setval('public.assignments_id_seq', 9, true);


--
-- Name: exams_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sms_user
--

SELECT pg_catalog.setval('public.exams_id_seq', 6, true);


--
-- Name: student_progress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sms_user
--

SELECT pg_catalog.setval('public.student_progress_id_seq', 3, true);


--
-- Name: students_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sms_user
--

SELECT pg_catalog.setval('public.students_id_seq', 3, true);


--
-- Name: assignments assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_pkey PRIMARY KEY (id);


--
-- Name: exams exams_pkey; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.exams
    ADD CONSTRAINT exams_pkey PRIMARY KEY (id);


--
-- Name: student_progress student_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.student_progress
    ADD CONSTRAINT student_progress_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: students uk_e2rndfrsx22acpq2ty1caeuyw; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT uk_e2rndfrsx22acpq2ty1caeuyw UNIQUE (email);


--
-- Name: student_subject_names fk243mm7ns2ll2xdavrr2dhcna7; Type: FK CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.student_subject_names
    ADD CONSTRAINT fk243mm7ns2ll2xdavrr2dhcna7 FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: student_subject_ids fkaddtasud69puutn0vx97a14jj; Type: FK CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.student_subject_ids
    ADD CONSTRAINT fkaddtasud69puutn0vx97a14jj FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: student_subjects fkjb6x19uwrg0tewtrgv2o7ec2r; Type: FK CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.student_subjects
    ADD CONSTRAINT fkjb6x19uwrg0tewtrgv2o7ec2r FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- PostgreSQL database dump complete
--

\unrestrict g1OYwVmcDRfScPMaczCxuNeNnjrsoaNwpVn7EUePEZixouD1mg0HVub9dQleIg8

--
-- Database "teacher_db" dump
--

--
-- PostgreSQL database dump
--

\restrict zERRJiancszBgQByedN8GCTwF8JDh2R2guR3jHtu6hdAizpyb0bQwe5uba3NUls

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: teacher_db; Type: DATABASE; Schema: -; Owner: sms_user
--

CREATE DATABASE teacher_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE teacher_db OWNER TO sms_user;

\unrestrict zERRJiancszBgQByedN8GCTwF8JDh2R2guR3jHtu6hdAizpyb0bQwe5uba3NUls
\connect teacher_db
\restrict zERRJiancszBgQByedN8GCTwF8JDh2R2guR3jHtu6hdAizpyb0bQwe5uba3NUls

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: teacher_subject_ids; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.teacher_subject_ids (
    teacher_id bigint NOT NULL,
    subject_id bigint
);


ALTER TABLE public.teacher_subject_ids OWNER TO sms_user;

--
-- Name: teacher_subject_names; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.teacher_subject_names (
    teacher_id bigint NOT NULL,
    subject_name character varying(255)
);


ALTER TABLE public.teacher_subject_names OWNER TO sms_user;

--
-- Name: teacher_subjects; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.teacher_subjects (
    teacher_id bigint NOT NULL,
    subject character varying(255)
);


ALTER TABLE public.teacher_subjects OWNER TO sms_user;

--
-- Name: teachers; Type: TABLE; Schema: public; Owner: sms_user
--

CREATE TABLE public.teachers (
    id bigint NOT NULL,
    address character varying(255),
    department character varying(255),
    email character varying(255) NOT NULL,
    name character varying(255),
    phone character varying(255),
    status character varying(255),
    teacher_id character varying(255),
    class_id bigint,
    class_name character varying(255),
    department_id bigint,
    department_name character varying(255),
    CONSTRAINT teachers_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING_REGISTRATION'::character varying, 'ACTIVE'::character varying, 'INACTIVE'::character varying])::text[])))
);


ALTER TABLE public.teachers OWNER TO sms_user;

--
-- Name: teachers_id_seq; Type: SEQUENCE; Schema: public; Owner: sms_user
--

CREATE SEQUENCE public.teachers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.teachers_id_seq OWNER TO sms_user;

--
-- Name: teachers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sms_user
--

ALTER SEQUENCE public.teachers_id_seq OWNED BY public.teachers.id;


--
-- Name: teachers id; Type: DEFAULT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.teachers ALTER COLUMN id SET DEFAULT nextval('public.teachers_id_seq'::regclass);


--
-- Data for Name: teacher_subject_ids; Type: TABLE DATA; Schema: public; Owner: sms_user
--

COPY public.teacher_subject_ids (teacher_id, subject_id) FROM stdin;
1	6
\.


--
-- Data for Name: teacher_subject_names; Type: TABLE DATA; Schema: public; Owner: sms_user
--

COPY public.teacher_subject_names (teacher_id, subject_name) FROM stdin;
1	Organic Chemistry
\.


--
-- Data for Name: teacher_subjects; Type: TABLE DATA; Schema: public; Owner: sms_user
--

COPY public.teacher_subjects (teacher_id, subject) FROM stdin;
\.


--
-- Data for Name: teachers; Type: TABLE DATA; Schema: public; Owner: sms_user
--

COPY public.teachers (id, address, department, email, name, phone, status, teacher_id, class_id, class_name, department_id, department_name) FROM stdin;
1	W/vw+nQJfktJBqWRQWO+lbWns5UvJqWqBE8okUvz7GochIlHqIOL+iRP0BxF8y5fUYYB	\N	karthikkrajeev33@gmail.com	Karthik	qP3XLur4bj364wxMr61FfM0CvHe1hGvGcULViLkHNJ1PwlmY768=	ACTIVE	Phy002	4	CHEMISTRY1	4	CHEMISTRY
\.


--
-- Name: teachers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sms_user
--

SELECT pg_catalog.setval('public.teachers_id_seq', 1, true);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (id);


--
-- Name: teachers uk_4l9jjfvsct1dd5aufnurxcvbs; Type: CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT uk_4l9jjfvsct1dd5aufnurxcvbs UNIQUE (email);


--
-- Name: teacher_subjects fk6dcl3ihufp4v0j1fuxlw4ksoj; Type: FK CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.teacher_subjects
    ADD CONSTRAINT fk6dcl3ihufp4v0j1fuxlw4ksoj FOREIGN KEY (teacher_id) REFERENCES public.teachers(id);


--
-- Name: teacher_subject_ids fki8amq09dofbwdk9ot2kfa8pmx; Type: FK CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.teacher_subject_ids
    ADD CONSTRAINT fki8amq09dofbwdk9ot2kfa8pmx FOREIGN KEY (teacher_id) REFERENCES public.teachers(id);


--
-- Name: teacher_subject_names fkilxidf68hlhpkpmxuse67ndu5; Type: FK CONSTRAINT; Schema: public; Owner: sms_user
--

ALTER TABLE ONLY public.teacher_subject_names
    ADD CONSTRAINT fkilxidf68hlhpkpmxuse67ndu5 FOREIGN KEY (teacher_id) REFERENCES public.teachers(id);


--
-- PostgreSQL database dump complete
--

\unrestrict zERRJiancszBgQByedN8GCTwF8JDh2R2guR3jHtu6hdAizpyb0bQwe5uba3NUls

--
-- PostgreSQL database cluster dump complete
--

